step3.png filter=lfs diff=lfs merge=lfs -text
hardware.png filter=lfs diff=lfs merge=lfs -text
software-logic.png filter=lfs diff=lfs merge=lfs -text
step1.png filter=lfs diff=lfs merge=lfs -text
step2.png filter=lfs diff=lfs merge=lfs -text
